<head>

    <!--<link rel="stylesheet" href="./index.css"> -->
<style>
    body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.switch {
  background-color: black;
  color: white;
}
</style>
</head>

     <body>
    <button onclick="Switch()">Switch between light/dark backgrounds</button>

    <script>
    function Switch() {
       var element = document.body;
       element.classList.toggle("switch");
    }
    </script>

<h6>Please read the README before doing anything: <a href="https://gitlab.com/milotilo/homepage">https://gitlab.com/milotilo/homepage</a></h6>

<center><h1>milo's personal homepage</h1></center>
<p><center>projects:</center></p>

<p><a href="https://milotilo.ddns.net/peppypedia/">peppypedia/</a></p>

<p><a href="https://milotilo.ddns.net/peppypedia-old/">peppypedia-old/</a></p>

<p><a href="https://milotilo.ddns.net/osu--for-newbies/">osu! for newbies/</a></p>

<p><a href="https://github.com/WindowsMeosu/peppypedia/discussions/60">peppypedia-cmd</a></p>

<p><center>everyday links</center></p>

<p><a href="https://startpage.com/">https://startpage.com/</a></p>

<p><a href="https://osu.ppy.sh/">https://osu.ppy.sh/</a></p>

<p><a href="https://osu.ppy.sh/u/Windows_Me/">https://osu.ppy.sh/u/Windows_Me/</a></p>

<p><a href="irc://libera.chat:6667">irc://libera.chat:6667</a></p>

<p><a href="irc://tilde.chat:6667">irc://tilde.chat:6667</a></p>

<p><a href="https://old.ppy.sh/">https://old.ppy.sh/</a></p>

<p><a href="https://old.ppy.sh/u/Windows_Me/">https://old.ppy.sh/u/Windows_Me/</a></p>

<p><a href="https://github.com/WindowsMeosu/peppypedia">https://github.com/WindowsMeosu/peppypedia</a></p>

<p><a href="https://github.com/WindowsMeosu/peppypedia-old">https://github.com/WindowsMeosu/peppypedia-old</a></p>
</body>